<mat-toolbar>
  <span>Wedoogift - Test frontend - Léo QUINSAC</span>
</mat-toolbar>
<form [formGroup]="form">
  <mat-card>
    <mat-card-title>Identity</mat-card-title>
    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input type="text" matInput placeholder="Thomas" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nom de famille</mat-label>
      <input type="text" matInput placeholder="Anderson" formControlName="surname">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input type="text" matInput placeholder="25" formControlName="age">
    </mat-form-field>
  </mat-card>
  <mat-card>
    <mat-card-title>Montant</mat-card-title>
    <app-calculator formControlName="amount"></app-calculator>
  </mat-card>
</form>

