<div class="container">
  <mat-form-field class="input">
    <mat-label>Montant désiré</mat-label>
    <input type="number" matInput placeholder="40" [(ngModel)]="value">
  </mat-form-field>
  <div class="plus-min-buttons">
    <button type="button" mat-mini-fab color="accent" [disabled]="isMax" (click)="previousOrNextValue('plus')">+</button>
    <button type="button" mat-mini-fab color="warn" [disabled]="isMin" (click)="previousOrNextValue('min')">-</button>
  </div>


  <button class="validate-button" type="button" color="primary" mat-raised-button (click)="onCalculatorClick()">Valider</button>

  <div class="results" *ngIf="calculatorResult">
    <ng-container *ngIf="calculatorResult.equal; else indispo">
      <p>Votre montant est composé des cartes suivantes :</p>
      <mat-list>
        <mat-list-item *ngFor="let card of calculatorResult.equal.cards">{{ card }} €</mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #indispo>
      <p>Le montant saisi est indisponible, veuillez choisir un montant proposé ci-dessous :</p>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngIf="calculatorResult.ceil" (click)="setFloorOrCeil(calculatorResult.ceil.value)">{{ calculatorResult.ceil.cards | sumCards }}</mat-list-option>
        <mat-list-option *ngIf="calculatorResult.floor" (click)="setFloorOrCeil(calculatorResult.floor.value)">{{ calculatorResult.floor.cards | sumCards}}</mat-list-option>
      </mat-selection-list>
    </ng-template>
  </div>
</div>
