.container {
  display: grid;
  min-width: 200px;
  width: 100%;
  text-align: center;
}

 mat-form-field {
  width: 100%;
  max-width: 115px;
  margin: auto;
}

 button {
  margin: auto;
}

.input{
  top:40px;
}
.plus-min-buttons > button{
  display: grid;
  position: relative;
  margin-right:50px;
  margin-top: 10px;
}

.plus-min-buttons{
  position: relative;
  bottom : 60px;
  margin-left: auto;
}

.validate-button{
  position:relative;
  bottom: 40px;
}
